<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h2><i>[Performing url navigation]</i></h2>
        <h1>Ohh!! You have reached PAGE 2</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias magni provident doloribus expedita eos deserunt est facilis eius optio. Ratione quaerat, officia architecto atque aperiam consequatur tempore iusto ab ut.  Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ipsam, quidem maxime, beatae ullam odit libero aspernatur voluptate vitae vero dolore neque debitis saepe soluta accusantium incidunt magni dolorum quas. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit iusto tenetur saepe veniam rerum minima nam quod ex doloribus voluptatum. Possimus fugiat, enim quaerat vero provident nihil molestiae optio quae! Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum minus tempore reiciendis doloremque saepe. Delectus itaque totam pariatur necessitatibus incidunt deleniti quibusdam sunt magnam tempora minus hic, alias quaerat! Voluptates!</p>
        
        <h2><a href="{% url 'page3' %}">Next page</a></h2>
        <h2><a href="{% url 'page1' %}">Back To Page 1</a></h2>
    </center>
</body>
</html>